spring:
  datasource:
    url: jdbc:h2:mem:testdb;Mode=MySQL
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  h2:
    console:
      enabled: true
  messages:
    basename: messages


jwt:
  secretKey: 2dae84f846e4f4b158a8d26681707f4338495bc7ab681523E6BE37DB3818CC36871E26235DD67D32FE4041492
  info:
    access:
      expiration: 20
      header: Authorization
    refresh:
      expiration: 30
      header: AuthorizationRefresh